Proyecto1EDD_201222576/src/conf/xml-resources/web-service-references/Prueba/wsdl/192.168.1.130_8080/PruebaWeb/Prueba.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Esfera/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Esfera/">

<xs:element name="Suma" type="tns:Suma" />

<xs:element name="SumaResponse" type="tns:SumaResponse" />

<xs:element name="imp" type="tns:imp" />

<xs:element name="impResponse" type="tns:impResponse" />

<xs:complexType name="Suma">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imp">
<xs:sequence />
</xs:complexType>

<xs:complexType name="impResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>