Proyecto1EDD_201222576/web/WEB-INF/wsdl/192.168.1.130_8080/PruebaWeb/WSAdmin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Esfera/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Esfera/" name="Prueba">
<types>
<xsd:schema>
<xsd:import namespace="http://Esfera/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSAdmin?xsd=1" />
</xsd:schema>
</types>
<message name="Ingresar">
<part name="parameters" element="tns:Ingresar" />
</message>
<message name="IngresarResponse">
<part name="parameters" element="tns:IngresarResponse" />
</message>
<message name="Buscar">
<part name="parameters" element="tns:Buscar" />
</message>
<message name="BuscarResponse">
<part name="parameters" element="tns:BuscarResponse" />
</message>
<message name="imprimir">
<part name="parameters" element="tns:imprimir" />
</message>
<message name="imprimirResponse">
<part name="parameters" element="tns:imprimirResponse" />
</message>
<message name="limpiar">
<part name="parameters" element="tns:limpiar" />
</message>
<message name="limpiarResponse">
<part name="parameters" element="tns:limpiarResponse" />
</message>
<portType name="WSAdmin">
<operation name="Ingresar">
<input wsam:Action="http://Esfera/WSAdmin/IngresarRequest" message="tns:Ingresar" />
<output wsam:Action="http://Esfera/WSAdmin/IngresarResponse" message="tns:IngresarResponse" />
</operation>
<operation name="Buscar">
<input wsam:Action="http://Esfera/WSAdmin/BuscarRequest" message="tns:Buscar" />
<output wsam:Action="http://Esfera/WSAdmin/BuscarResponse" message="tns:BuscarResponse" />
</operation>
<operation name="imprimir">
<input wsam:Action="http://Esfera/WSAdmin/imprimirRequest" message="tns:imprimir" />
<output wsam:Action="http://Esfera/WSAdmin/imprimirResponse" message="tns:imprimirResponse" />
</operation>
<operation name="limpiar">
<input wsam:Action="http://Esfera/WSAdmin/limpiarRequest" message="tns:limpiar" />
<output wsam:Action="http://Esfera/WSAdmin/limpiarResponse" message="tns:limpiarResponse" />
</operation>
</portType>
<binding name="WSAdminPortBinding" type="tns:WSAdmin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Ingresar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Buscar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imprimir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="limpiar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Prueba">
<port name="WSAdminPort" binding="tns:WSAdminPortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSAdmin" />
</port>
</service>
</definitions>