Proyecto1EDD_201222576/web/WEB-INF/wsdl/192.168.1.130_8080/PruebaWeb/WSAdmin.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Estructuras/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Estructuras/">

<xs:element name="buscar" type="tns:buscar" />

<xs:element name="buscarResponse" type="tns:buscarResponse" />

<xs:element name="imprimir" type="tns:imprimir" />

<xs:element name="imprimirResponse" type="tns:imprimirResponse" />

<xs:element name="ingresar" type="tns:ingresar" />

<xs:element name="ingresarResponse" type="tns:ingresarResponse" />

<xs:element name="limpiar" type="tns:limpiar" />

<xs:element name="limpiarResponse" type="tns:limpiarResponse" />

<xs:complexType name="ingresar">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imprimir">
<xs:sequence />
</xs:complexType>

<xs:complexType name="imprimirResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="limpiar">
<xs:sequence />
</xs:complexType>

<xs:complexType name="limpiarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscar">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>