Proyecto1EDD_201222576/web/WEB-INF/wsdl/192.168.1.130_8080/PruebaWeb/WSBuses.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Estructuras/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Estructuras/" name="WSBusesService">
<types>
<xsd:schema>
<xsd:import namespace="http://Estructuras/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSBuses?xsd=1" />
</xsd:schema>
</types>
<message name="imprimirbus">
<part name="parameters" element="tns:imprimirbus" />
</message>
<message name="imprimirbusResponse">
<part name="parameters" element="tns:imprimirbusResponse" />
</message>
<message name="limpiarbus">
<part name="parameters" element="tns:limpiarbus" />
</message>
<message name="limpiarbusResponse">
<part name="parameters" element="tns:limpiarbusResponse" />
</message>
<message name="buscarbus">
<part name="parameters" element="tns:buscarbus" />
</message>
<message name="buscarbusResponse">
<part name="parameters" element="tns:buscarbusResponse" />
</message>
<message name="ingresarbus">
<part name="parameters" element="tns:ingresarbus" />
</message>
<message name="ingresarbusResponse">
<part name="parameters" element="tns:ingresarbusResponse" />
</message>
<portType name="WSBuses">
<operation name="imprimirbus">
<input wsam:Action="http://Estructuras/WSBuses/imprimirbusRequest" message="tns:imprimirbus" />
<output wsam:Action="http://Estructuras/WSBuses/imprimirbusResponse" message="tns:imprimirbusResponse" />
</operation>
<operation name="limpiarbus">
<input wsam:Action="http://Estructuras/WSBuses/limpiarbusRequest" message="tns:limpiarbus" />
<output wsam:Action="http://Estructuras/WSBuses/limpiarbusResponse" message="tns:limpiarbusResponse" />
</operation>
<operation name="buscarbus">
<input wsam:Action="http://Estructuras/WSBuses/buscarbusRequest" message="tns:buscarbus" />
<output wsam:Action="http://Estructuras/WSBuses/buscarbusResponse" message="tns:buscarbusResponse" />
</operation>
<operation name="ingresarbus">
<input wsam:Action="http://Estructuras/WSBuses/ingresarbusRequest" message="tns:ingresarbus" />
<output wsam:Action="http://Estructuras/WSBuses/ingresarbusResponse" message="tns:ingresarbusResponse" />
</operation>
</portType>
<binding name="WSBusesPortBinding" type="tns:WSBuses">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="imprimirbus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="limpiarbus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarbus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarbus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSBusesService">
<port name="WSBusesPort" binding="tns:WSBusesPortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSBuses" />
</port>
</service>
</definitions>