Proyecto1EDD_201222576/web/WEB-INF/wsdl/192.168.1.130_8080/PruebaWeb/WSEstacionClave.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Estructuras/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Estructuras/">

<xs:element name="buscaresclave" type="tns:buscaresclave" />

<xs:element name="buscaresclaveResponse" type="tns:buscaresclaveResponse" />

<xs:element name="imprimiresclave" type="tns:imprimiresclave" />

<xs:element name="imprimiresclaveResponse" type="tns:imprimiresclaveResponse" />

<xs:element name="ingresaresclave" type="tns:ingresaresclave" />

<xs:element name="ingresaresclaveResponse" type="tns:ingresaresclaveResponse" />

<xs:element name="limpiaresclave" type="tns:limpiaresclave" />

<xs:element name="limpiaresclaveResponse" type="tns:limpiaresclaveResponse" />

<xs:complexType name="buscaresclave">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscaresclaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresaresclave">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresaresclaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imprimiresclave">
<xs:sequence />
</xs:complexType>

<xs:complexType name="imprimiresclaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="limpiaresclave">
<xs:sequence />
</xs:complexType>

<xs:complexType name="limpiaresclaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>