Proyecto1EDD_201222576/web/WEB-INF/wsdl/192.168.1.130_8080/PruebaWeb/WSRuta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Estructuras/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Estructuras/" name="WSRutaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Estructuras/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSRuta?xsd=1" />
</xsd:schema>
</types>
<message name="imprimirruta">
<part name="parameters" element="tns:imprimirruta" />
</message>
<message name="imprimirrutaResponse">
<part name="parameters" element="tns:imprimirrutaResponse" />
</message>
<message name="limpiarruta">
<part name="parameters" element="tns:limpiarruta" />
</message>
<message name="limpiarrutaResponse">
<part name="parameters" element="tns:limpiarrutaResponse" />
</message>
<message name="ingresarruta">
<part name="parameters" element="tns:ingresarruta" />
</message>
<message name="ingresarrutaResponse">
<part name="parameters" element="tns:ingresarrutaResponse" />
</message>
<message name="buscarruta">
<part name="parameters" element="tns:buscarruta" />
</message>
<message name="buscarrutaResponse">
<part name="parameters" element="tns:buscarrutaResponse" />
</message>
<portType name="WSRuta">
<operation name="imprimirruta">
<input wsam:Action="http://Estructuras/WSRuta/imprimirrutaRequest" message="tns:imprimirruta" />
<output wsam:Action="http://Estructuras/WSRuta/imprimirrutaResponse" message="tns:imprimirrutaResponse" />
</operation>
<operation name="limpiarruta">
<input wsam:Action="http://Estructuras/WSRuta/limpiarrutaRequest" message="tns:limpiarruta" />
<output wsam:Action="http://Estructuras/WSRuta/limpiarrutaResponse" message="tns:limpiarrutaResponse" />
</operation>
<operation name="ingresarruta">
<input wsam:Action="http://Estructuras/WSRuta/ingresarrutaRequest" message="tns:ingresarruta" />
<output wsam:Action="http://Estructuras/WSRuta/ingresarrutaResponse" message="tns:ingresarrutaResponse" />
</operation>
<operation name="buscarruta">
<input wsam:Action="http://Estructuras/WSRuta/buscarrutaRequest" message="tns:buscarruta" />
<output wsam:Action="http://Estructuras/WSRuta/buscarrutaResponse" message="tns:buscarrutaResponse" />
</operation>
</portType>
<binding name="WSRutaPortBinding" type="tns:WSRuta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="imprimirruta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="limpiarruta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarruta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarruta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSRutaService">
<port name="WSRutaPort" binding="tns:WSRutaPortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSRuta" />
</port>
</service>
</definitions>