Proyecto1EDD_201222576/src/conf/xml-resources/web-service-references/WSChofer/wsdl/192.168.1.130_8080/PruebaWeb/WSChofer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Estructuras/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Estructuras/">

<xs:element name="agregarbusadiachofer" type="tns:agregarbusadiachofer" />

<xs:element name="agregarbusadiachoferResponse" type="tns:agregarbusadiachoferResponse" />

<xs:element name="agregardianodochofer" type="tns:agregardianodochofer" />

<xs:element name="agregardianodochoferResponse" type="tns:agregardianodochoferResponse" />

<xs:element name="agregarhoraAbusydiachofer" type="tns:agregarhoraAbusydiachofer" />

<xs:element name="agregarhoraAbusydiachoferResponse" type="tns:agregarhoraAbusydiachoferResponse" />

<xs:element name="apuntarnodochofer" type="tns:apuntarnodochofer" />

<xs:element name="apuntarnodochoferResponse" type="tns:apuntarnodochoferResponse" />

<xs:element name="buscarchofer" type="tns:buscarchofer" />

<xs:element name="buscarchoferResponse" type="tns:buscarchoferResponse" />

<xs:element name="editarchofer" type="tns:editarchofer" />

<xs:element name="editarchoferResponse" type="tns:editarchoferResponse" />

<xs:element name="imprimirchofer" type="tns:imprimirchofer" />

<xs:element name="imprimirchoferResponse" type="tns:imprimirchoferResponse" />

<xs:element name="ingresarchofer" type="tns:ingresarchofer" />

<xs:element name="ingresarchoferResponse" type="tns:ingresarchoferResponse" />

<xs:element name="limpiarchofer" type="tns:limpiarchofer" />

<xs:element name="limpiarchoferResponse" type="tns:limpiarchoferResponse" />

<xs:complexType name="agregarhoraAbusydiachofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarhoraAbusydiachoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarchofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarchoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregardianodochofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregardianodochoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarchofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarchoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="apuntarnodochofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="apuntarnodochoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarbusadiachofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarbusadiachoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imprimirchofer">
<xs:sequence />
</xs:complexType>

<xs:complexType name="imprimirchoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="limpiarchofer">
<xs:sequence />
</xs:complexType>

<xs:complexType name="limpiarchoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarchofer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarchoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>