Proyecto1EDD_201222576/src/conf/xml-resources/web-service-references/WSEstacionGeneral/wsdl/192.168.1.130_8080/PruebaWeb/WSEstacionGeneral.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Estructuras/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Estructuras/" name="WSEstacionGeneralService">
<types>
<xsd:schema>
<xsd:import namespace="http://Estructuras/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSEstacionGeneral?xsd=1" />
</xsd:schema>
</types>
<message name="editaresgeneral">
<part name="parameters" element="tns:editaresgeneral" />
</message>
<message name="editaresgeneralResponse">
<part name="parameters" element="tns:editaresgeneralResponse" />
</message>
<message name="buscaresgeneral">
<part name="parameters" element="tns:buscaresgeneral" />
</message>
<message name="buscaresgeneralResponse">
<part name="parameters" element="tns:buscaresgeneralResponse" />
</message>
<message name="limpiaresgeneral">
<part name="parameters" element="tns:limpiaresgeneral" />
</message>
<message name="limpiaresgeneralResponse">
<part name="parameters" element="tns:limpiaresgeneralResponse" />
</message>
<message name="ingresaresgeneral">
<part name="parameters" element="tns:ingresaresgeneral" />
</message>
<message name="ingresaresgeneralResponse">
<part name="parameters" element="tns:ingresaresgeneralResponse" />
</message>
<message name="imprimiresgeneral">
<part name="parameters" element="tns:imprimiresgeneral" />
</message>
<message name="imprimiresgeneralResponse">
<part name="parameters" element="tns:imprimiresgeneralResponse" />
</message>
<portType name="WSEstacionGeneral">
<operation name="editaresgeneral">
<input wsam:Action="http://Estructuras/WSEstacionGeneral/editaresgeneralRequest" message="tns:editaresgeneral" />
<output wsam:Action="http://Estructuras/WSEstacionGeneral/editaresgeneralResponse" message="tns:editaresgeneralResponse" />
</operation>
<operation name="buscaresgeneral">
<input wsam:Action="http://Estructuras/WSEstacionGeneral/buscaresgeneralRequest" message="tns:buscaresgeneral" />
<output wsam:Action="http://Estructuras/WSEstacionGeneral/buscaresgeneralResponse" message="tns:buscaresgeneralResponse" />
</operation>
<operation name="limpiaresgeneral">
<input wsam:Action="http://Estructuras/WSEstacionGeneral/limpiaresgeneralRequest" message="tns:limpiaresgeneral" />
<output wsam:Action="http://Estructuras/WSEstacionGeneral/limpiaresgeneralResponse" message="tns:limpiaresgeneralResponse" />
</operation>
<operation name="ingresaresgeneral">
<input wsam:Action="http://Estructuras/WSEstacionGeneral/ingresaresgeneralRequest" message="tns:ingresaresgeneral" />
<output wsam:Action="http://Estructuras/WSEstacionGeneral/ingresaresgeneralResponse" message="tns:ingresaresgeneralResponse" />
</operation>
<operation name="imprimiresgeneral">
<input wsam:Action="http://Estructuras/WSEstacionGeneral/imprimiresgeneralRequest" message="tns:imprimiresgeneral" />
<output wsam:Action="http://Estructuras/WSEstacionGeneral/imprimiresgeneralResponse" message="tns:imprimiresgeneralResponse" />
</operation>
</portType>
<binding name="WSEstacionGeneralPortBinding" type="tns:WSEstacionGeneral">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="editaresgeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscaresgeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="limpiaresgeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresaresgeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imprimiresgeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSEstacionGeneralService">
<port name="WSEstacionGeneralPort" binding="tns:WSEstacionGeneralPortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSEstacionGeneral" />
</port>
</service>
</definitions>