Proyecto1EDD_201222576/src/conf/xml-resources/web-service-references/WSEstacionClave/wsdl/192.168.1.130_8080/PruebaWeb/WSEstacionClave.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Estructuras/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Estructuras/" name="WSEstacionClaveService">
<types>
<xsd:schema>
<xsd:import namespace="http://Estructuras/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSEstacionClave?xsd=1" />
</xsd:schema>
</types>
<message name="limpiaresclave">
<part name="parameters" element="tns:limpiaresclave" />
</message>
<message name="limpiaresclaveResponse">
<part name="parameters" element="tns:limpiaresclaveResponse" />
</message>
<message name="ingresaresclave">
<part name="parameters" element="tns:ingresaresclave" />
</message>
<message name="ingresaresclaveResponse">
<part name="parameters" element="tns:ingresaresclaveResponse" />
</message>
<message name="buscaresclave">
<part name="parameters" element="tns:buscaresclave" />
</message>
<message name="buscaresclaveResponse">
<part name="parameters" element="tns:buscaresclaveResponse" />
</message>
<message name="imprimiresclave">
<part name="parameters" element="tns:imprimiresclave" />
</message>
<message name="imprimiresclaveResponse">
<part name="parameters" element="tns:imprimiresclaveResponse" />
</message>
<portType name="WSEstacionClave">
<operation name="limpiaresclave">
<input wsam:Action="http://Estructuras/WSEstacionClave/limpiaresclaveRequest" message="tns:limpiaresclave" />
<output wsam:Action="http://Estructuras/WSEstacionClave/limpiaresclaveResponse" message="tns:limpiaresclaveResponse" />
</operation>
<operation name="ingresaresclave">
<input wsam:Action="http://Estructuras/WSEstacionClave/ingresaresclaveRequest" message="tns:ingresaresclave" />
<output wsam:Action="http://Estructuras/WSEstacionClave/ingresaresclaveResponse" message="tns:ingresaresclaveResponse" />
</operation>
<operation name="buscaresclave">
<input wsam:Action="http://Estructuras/WSEstacionClave/buscaresclaveRequest" message="tns:buscaresclave" />
<output wsam:Action="http://Estructuras/WSEstacionClave/buscaresclaveResponse" message="tns:buscaresclaveResponse" />
</operation>
<operation name="imprimiresclave">
<input wsam:Action="http://Estructuras/WSEstacionClave/imprimiresclaveRequest" message="tns:imprimiresclave" />
<output wsam:Action="http://Estructuras/WSEstacionClave/imprimiresclaveResponse" message="tns:imprimiresclaveResponse" />
</operation>
</portType>
<binding name="WSEstacionClavePortBinding" type="tns:WSEstacionClave">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="limpiaresclave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresaresclave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscaresclave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imprimiresclave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSEstacionClaveService">
<port name="WSEstacionClavePort" binding="tns:WSEstacionClavePortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSEstacionClave" />
</port>
</service>
</definitions>