Proyecto1EDD_201222576/src/conf/xml-resources/web-service-references/WSEstacionClave/wsdl/192.168.1.130_8080/PruebaWeb/WSEstacionClave.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Estructuras/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Estructuras/" name="Arbol Estacion Clave">
<types>
<xsd:schema>
<xsd:import namespace="http://Estructuras/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSEstacionClave?xsd=1" />
</xsd:schema>
</types>
<message name="Buscar">
<part name="parameters" element="tns:Buscar" />
</message>
<message name="BuscarResponse">
<part name="parameters" element="tns:BuscarResponse" />
</message>
<message name="imprimir">
<part name="parameters" element="tns:imprimir" />
</message>
<message name="imprimirResponse">
<part name="parameters" element="tns:imprimirResponse" />
</message>
<message name="limpiar">
<part name="parameters" element="tns:limpiar" />
</message>
<message name="limpiarResponse">
<part name="parameters" element="tns:limpiarResponse" />
</message>
<message name="Ingresar">
<part name="parameters" element="tns:Ingresar" />
</message>
<message name="IngresarResponse">
<part name="parameters" element="tns:IngresarResponse" />
</message>
<portType name="WSEstacionClave">
<operation name="Buscar">
<input wsam:Action="http://Estructuras/WSEstacionClave/BuscarRequest" message="tns:Buscar" />
<output wsam:Action="http://Estructuras/WSEstacionClave/BuscarResponse" message="tns:BuscarResponse" />
</operation>
<operation name="imprimir">
<input wsam:Action="http://Estructuras/WSEstacionClave/imprimirRequest" message="tns:imprimir" />
<output wsam:Action="http://Estructuras/WSEstacionClave/imprimirResponse" message="tns:imprimirResponse" />
</operation>
<operation name="limpiar">
<input wsam:Action="http://Estructuras/WSEstacionClave/limpiarRequest" message="tns:limpiar" />
<output wsam:Action="http://Estructuras/WSEstacionClave/limpiarResponse" message="tns:limpiarResponse" />
</operation>
<operation name="Ingresar">
<input wsam:Action="http://Estructuras/WSEstacionClave/IngresarRequest" message="tns:Ingresar" />
<output wsam:Action="http://Estructuras/WSEstacionClave/IngresarResponse" message="tns:IngresarResponse" />
</operation>
</portType>
<binding name="WSEstacionClavePortBinding" type="tns:WSEstacionClave">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Buscar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imprimir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="limpiar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Ingresar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Arbol Estacion Clave">
<port name="WSEstacionClavePort" binding="tns:WSEstacionClavePortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSEstacionClave" />
</port>
</service>
</definitions>