Proyecto1EDD_201222576/src/conf/xml-resources/web-service-references/WSAdmin/wsdl/192.168.1.130_8080/PruebaWeb/WSAdmin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Estructuras/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Estructuras/" name="WSAdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://Estructuras/" schemaLocation="http://192.168.1.130:8080/PruebaWeb/WSAdmin?xsd=1" />
</xsd:schema>
</types>
<message name="buscar">
<part name="parameters" element="tns:buscar" />
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse" />
</message>
<message name="imprimir">
<part name="parameters" element="tns:imprimir" />
</message>
<message name="imprimirResponse">
<part name="parameters" element="tns:imprimirResponse" />
</message>
<message name="limpiar">
<part name="parameters" element="tns:limpiar" />
</message>
<message name="limpiarResponse">
<part name="parameters" element="tns:limpiarResponse" />
</message>
<message name="ingresar">
<part name="parameters" element="tns:ingresar" />
</message>
<message name="ingresarResponse">
<part name="parameters" element="tns:ingresarResponse" />
</message>
<message name="editar">
<part name="parameters" element="tns:editar" />
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse" />
</message>
<portType name="WSAdmin">
<operation name="buscar">
<input wsam:Action="http://Estructuras/WSAdmin/buscarRequest" message="tns:buscar" />
<output wsam:Action="http://Estructuras/WSAdmin/buscarResponse" message="tns:buscarResponse" />
</operation>
<operation name="imprimir">
<input wsam:Action="http://Estructuras/WSAdmin/imprimirRequest" message="tns:imprimir" />
<output wsam:Action="http://Estructuras/WSAdmin/imprimirResponse" message="tns:imprimirResponse" />
</operation>
<operation name="limpiar">
<input wsam:Action="http://Estructuras/WSAdmin/limpiarRequest" message="tns:limpiar" />
<output wsam:Action="http://Estructuras/WSAdmin/limpiarResponse" message="tns:limpiarResponse" />
</operation>
<operation name="ingresar">
<input wsam:Action="http://Estructuras/WSAdmin/ingresarRequest" message="tns:ingresar" />
<output wsam:Action="http://Estructuras/WSAdmin/ingresarResponse" message="tns:ingresarResponse" />
</operation>
<operation name="editar">
<input wsam:Action="http://Estructuras/WSAdmin/editarRequest" message="tns:editar" />
<output wsam:Action="http://Estructuras/WSAdmin/editarResponse" message="tns:editarResponse" />
</operation>
</portType>
<binding name="WSAdminPortBinding" type="tns:WSAdmin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imprimir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="limpiar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSAdminService">
<port name="WSAdminPort" binding="tns:WSAdminPortBinding">
<soap:address location="http://192.168.1.130:8080/PruebaWeb/WSAdmin" />
</port>
</service>
</definitions>