Cliente/web/WEB-INF/wsdl/192.168.1.130_8080/PruebaWeb/VolumenEsfera.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Esfera/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Esfera/">

<xs:element name="Volumen" type="tns:Volumen" />

<xs:element name="VolumenResponse" type="tns:VolumenResponse" />

<xs:complexType name="Volumen">
<xs:sequence>
<xs:element name="uno" type="xs:double" />
<xs:element name="dos" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="VolumenResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>